
SimpleSpanTextView/spantextview/src/main/java/com/example/spantextview/SpanTextView.kt
SimpleSpanTextView/spantextview/src/main/res/values/attrs.xml
SimpleSpanTextView/spantextview/src/main/java/com/example/spantextview/SpanTextView.kt
.idea/workspace.xml
.idea/workspace.xml
.idea/workspace.xml
